src/main/resources/books.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookListDTO" type="BookListDTO" />

    <xs:complexType name="BookListDTO">
        <xs:sequence>
            <xs:element name="book" type="BookDTO" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BookDTO">
        <xs:sequence>
            <xs:element name="levels" type="xs:boolean" maxOccurs="5"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>